.footer {
    font-family: 'IBM Plex Serif', serif;
}

.footer h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}

.footer ul {
    margin-top: 24px;
}

.footer ul li {
    padding: 5px 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    display: flex;
}

.decoration ul li:hover {
    text-decoration: underline;
    text-decoration-color: #BE8F41;
    text-underline-offset: 8px;
    cursor: pointer;
}

.decoration {
    text-decoration-line: none;
}

.footer span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.footer button {
    font-family: Arial, Helvetica, sans-serif;
}

.contato {
    background-image: url(../public/images/contato.png);
    background-size: cover;
}

.quemSomos {
    background-image: url(../public/images/quemSomosF.png);
    background-size: cover;
}

.mvv {
    background-image: url(../public/images/mvv.png);
    background-size: cover;
}

.aruaImage {
    background-image: url(../public/images/arua.png);
    background-size: cover;
    min-height: 700px;
}

.mvv,
.arua {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.mvv h3,
.arua h3 {
    color: #0F1A2E;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    margin-bottom: 10px;
}